@model VMSApp.ViewModels.OrganizationViewModel

@{
    ViewBag.Title = "Dashboard";
    ViewBag.UserType = 1;
}

@{
    if (Model.Status == 1)
    {
    <h2>Your Organization is under review. You can access your dashboard once verification is completed. Thanks!!</h2>
    }
    else{
        <h2>Hello World!!</h2>
    }
}

